#header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

#weatherInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50vh;
    width: 100%;
}